@import "varibles.scss";
@import "mixins.scss";

/* inputs */

input[type="radio"], input[type="checkbox"] {
	display:none;
}

input[type="radio"] + label, input[type="checkbox"] + label {
	font-size:1.2rem;
}

input[type="radio"] + label span, input[type="checkbox"] + label span {
    display:inline-block;
    color:transparent;  
    background-position: center center;
     vertical-align:middle;
    background:transparent;
    cursor:pointer;
    @include dur(0.2s);
    width:$basesize*1.9 + px;
    height:$basesize*1.9 + px;
    margin:-$basesize*.1 + px $basesize*.4 + px 0 0;
    border-radius:$basesize*.2 + px;
    margin-right:15px;
}

input[type="radio"] + label span{
	border-radius:50%;
}

#form_answer{
	box-sizing:border-box;
	padding:0!important;
	border-radius:10px;
	box-shadow: 0 0 60px 0 transparentize(#000, .85);
}

#ajax-add-answer, #search-page-container{
	width:100%;
	box-sizing:border-box;	
	margin-top:0;
	line-height:1;
	font-family:'Roboto';
	
	h3{
		font-size:2.6rem;
		font-weight:800;
		text-align:center;
		margin:0 0 40px;
		line-height:1;
	}
	.form-group{
		margin-bottom:10px;
	
		input:not(.btn){
			width:100%;
			height:46px;
			border:2px solid #eceef2;		
			border-radius:4px;
			padding:0 20px;
			box-sizing:border-box;
			color:#636363;
			font-size:1.4rem;
		}
	}
	.divider-box-text{
		font-family: "Roboto";
		font-size:1.4rem;
		font-weight:900;
		text-transform: uppercase;
		color:transparentize(#000, .4);		
		line-height:1;
		margin:30px 0 20px;
	}

	textarea.form-control{
		width:100%;
		height:146px;
		border:2px solid #eceef2;
		color:#636363;		
		border-radius:4px;
		padding:10px 20px;
		box-sizing:border-box;
		resize:none;
		font-size:1.4rem;
	}
	.btn-block{
		margin:20px 0 50px;
	}
	.btn{
		font-family: "Roboto";
		font-size:1.4rem;
		font-weight:900;
		display:inline-block;
		border:none;
		border-radius:30px;
		&.search-btn{
			border-radius:5px!important;
			height:45px;
			padding-left:50px;
			padding-right:50px;
		}
	}
	.captcha-container{
		margin-top:20px;
		margin-bottom:35px;
		line-height:1;
	}

	.form-checkbox-group{
		margin-bottom:45px;
		line-height:1;
	}
}

#ajax-add-answer, #search-page-container, .contacts-form-index{
	.select2{
		font-family:'Roboto';
		font-size:1.4rem;
		font-weight:400;
		color:#636363;
		font-size:1.4rem;
	}

	.select2.select2-container.select2-container--default{
		width:100%!important;
		height:46px!important;
		border:2px solid #eceef2;
		border-radius:4px;
	}	

	.select2-selection.select2-selection--single{
		width:100%!important;
		height:42px!important;
		border:none!important;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered{
		line-height:42px!important;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow{
		height:42px;
	}

	.select2-container--default .select2-results__option[aria-selected="true"], .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-dropdown, .select2-results__options{
		background:#fff;
		color: #636363;
		font-family:'Roboto';
		font-size:1.4rem;
		font-weight:400;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered{
		color: #636363;
		font-family:'Roboto';
		font-size:1.4rem;
		font-weight:400;
	}

	.select2-container--default .select2-results__option[aria-selected="true"]:hover, .select2-container--default .select2-results__option--highlighted[aria-selected]:hover{
		background:#f3f4f6;
		color: rgba(0, 0, 0, 0.6);
	}

	[class^="icon-"], [class*=" icon-"] {
	    font-size: 2rem!important;
	    display:inline-block;
	    margin-top: 50%;
	}

	.select2.select2-container.select2-container--open{
		[class^="icon-"], [class*=" icon-"] {
		    -moz-transform: rotate(-180deg);
		    -ms-transform: rotate(-180deg);
		    -webkit-transform: rotate(-180deg);
		    -o-transform: rotate(-180deg);
		    transform: rotate(-180deg);
		}
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {	    
	    right: 20px;
	    text-align: right;	    
	}

	.select2-dropdown{
		border:2px solid #eceef2;
		margin-top: -5px;
		border-radius:0 0 4px 4px;
		border-top: 2px solid #fff!important;
	}

	.form-group{
		position:relative;
	}

	.select2.select2-container.select2-container--open{
		z-index:9;
		border-radius:4px 4px 6px 6px;
		border-bottom: 2px solid #fff!important;
	}

	.select2-container.select2-container--open{
		top:auto!important;		
		bottom:0!important;
		z-index:8;
	}

	.select2-container .select2-selection--single .select2-selection__rendered{
		padding-left: 20px;
	}
	.select2-results__option {
	    padding: 10px 20px;
	}
	
}


.contacts-form-index{
	max-width:705px;
	margin-left:auto;
	margin-right:auto;

	.select2.select2-container.select2-container--default{
		height:56px!important;
	}	

	.select2-selection.select2-selection--single{
		height:52px!important;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered{
		line-height:52px!important;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow{
		height:52px;
		[class^="icon-"], [class*=" icon-"] {
		    margin-top: 65%;
		}
	}

	.select2-container--default .select2-selection--single{
		background-color: #f3f4f6;
	}

	.select2.select2-container.select2-container--open{
		border-color: #eceef2!important;
	}

	.select2-container .select2-selection--single .select2-selection__rendered{
		padding-left: 20px;
	}

	.select2-results__option {
	    padding: 10px 20px 10px 20px;
	}

	.select2-results__options{
		background: #f3f4f6!important;
		li{
			background: #f3f4f6!important;
		}
	}

	.captcha_sid-box{
		max-width:200px!important;
		padding:0;
	}

	.form-group {
		input.captcha_word_input{
			max-width:185px!important;
			height:48px!important;			
			padding-left:15px!important;
			padding-right:15px!important;
		}
	}
	
}

.contacts-form {
	.captcha_sid-box{
		max-width:200px!important;
	}

	.form-group {
		input.captcha_word_input{
			max-width:185px!important;
			height:48px!important;			
			padding-left:15px!important;
			padding-right:15px!important;
		}
	}
	.captcha-row{
		margin-bottom:15px;
	}
}

@media( min-width:750px ){
	.contacts-form-index{
		.form-left-group{
			padding-right:10px;
		}
		.form-right-group{
			padding-left:10px;
		}
	}
}


@media( max-width:749px ){
	.contacts-form,  .contacts-form-index {
		.captcha-row{
			.captcha_sid-box{
				margin-bottom:20px;
			}
			&>.col-xs-12{
				padding:0;
				input.captcha_word_input{
    				max-width: 200px !important;
				}
			}
		}		
	}

	.contacts-form{
		.captcha-row{
			margin-bottom:15px;			
			&>.col-xs-12{
				padding-left:15px!important;
				padding-right:15px!important;
			}
		}
	}
}

#ajax-add-answer{
	margin-top: 60px;
}

.popup-window-close-icon::after{
	width:20px!important;
	height:20px!important;
}

@media( min-width:420px ){
	#form_answer{
		width:405px;		
	}

	#ajax-add-answer{		
		padding: 0 47px;
	}	
}

@media( max-width:419px ){
	#form_answer{
		width:100%!important;	
		left:0!important;
	}

	#ajax-add-answer{		
		padding: 0 20px;
	}	

	input[type="radio"] + label, input[type="checkbox"] + label {
		font-size:1rem;
	}
}

@media( min-width:750px ){
	[id^="wait_"], [id^=" wait_"]{
		left:50%!important;
		top:200px!important;
		margin-left:-40px!important;
	}
}
@media( min-width:1200px ){
	.contacts-form, .contacts-form-index{
		.form-group {
			input.captcha_word_input{	
				margin-left:15px!important;
			}
		}
	}
}

.uploader {
    padding: 0;
    height: 40px;
    position: relative;
	input[type="file"] {
	    z-index: 10;
	    opacity: 0;
	    border: none;
	    background: none;
	    position: absolute;
	    top: 0;
	    right: 0;
	    float: right;
	    cursor: default;
	    width: 100%;
	    height: 100%;
	}

	.filename {
	    overflow: hidden;
	    display: inline-block;
	    width: 100%;
	    white-space: nowrap;
	    font-size: 13px;
	    color: #9aa6ae;
	    position: relative;
	    top: 3px;
	    padding: 9px 9px 9px 155px;
	    text-overflow: ellipsis;
	}

	.action {
	    position: absolute;
	    top: 5px;
	    left: 5px;
	    border-bottom: 1px solid;
	    border-radius: 3px;
	    color: white;
	    padding: 7px 12px;
	    font-size: 13px;
	    line-height: 15px;
	    text-transform: uppercase;
	    margin-right: 10px;
	}
}

/* FUCK BOOTSTRAP */

.form-control {
  box-shadow: none;
  line-height: 1;
}

.form-control:hover, .form-control:focus {
  box-shadow: none;
}

.btn-color:hover, .btn-color:focus, .btn-color.focus {
  color: #fff;
}
