@import "varibles.scss";
@import "mixins.scss";
/*
##################### SLIDER ##############################
*/
.mega-slider{
	position:relative;	
	margin:0;
	padding:0;
	z-index:98;
}
.slider-block{
	position:relative;	
	width:100%;	
	height:100%;
	z-index:8;
	margin:0;
	padding:0;
	.sl-item{
		width:100%;
		height:100%;
		padding:0;
		margin:0;
		background-position:center center;
		background-repeat: no-repeat;
		background-size: cover;
		.slider-table{
			/*max-width:620px;*/
			width:100%;
			height:100%;
			margin:0;
			padding:0;
			.slider-table-cell{
				height:100%;
				vertical-align:middle;	
			}
		}
	}

	.slider-title{		
		font-weight: 800;
		line-height:1.2;
	}

	.slider-desc{		
		font-weight: 400;
		line-height:1.6;
	}
}

.owl-nav-block{
	position:absolute;
	top:50%;
	margin-top:-20px;
	height:54px;
	width:100%;
	left:0;
	right:0;
	overflow:hidden;
	display:none;

	.container-fluid{
		padding: 0 15px;
	}

	.icon-angle-left, .icon-angle-right{
		font-size: 5rem;
    	font-weight: 800;
	}
	
	.icon-angle-left{
		@include transX(-1);
	}

	.icon-angle-right{
		@include transX(1);
	}
}

.owl-nav{
	height:54px;
	width:54px;
	border-radius:50%;
	text-align:center;
}

.owl-nav.owl-prev{
	float:left;
}

.owl-nav.owl-next{
	float:right;
}

.owl-stage-outer{
	z-index:9;
}

.owl-controls{
	position:absolute;
	width:100%;
	height:30px;
	margin-top:-35px;
	z-index:11;
	.owl-nav{
		display:none!important;
	}
	.owl-dots{
		display:table;
		margin:0 auto;		
		.owl-dot{
			width:8px;
			height:8px;
			border:none;
			display:inline-block;
			margin:0 8px;
		}
	}	
}

.projects-slider{
	position:relative;
	.owl-nav-block{
		position:relative;
		margin-top:-50px;
		display:block!important;
		.container{
			padding:0;
		}
		
	}
	.owl-controls {
	    margin-top: 40px;
	}
}



@media(min-width:10px){
	.slider-block{
		.slider-title{
			font-size:3rem;
		}

		.slider-desc{
			font-size:1.8rem;
		}
	}

	.slider-btns{		
		&>ul{
			&>li{
				margin-top:20px;
				margin-bottom:20px;
			}			
		}
	}
}

@media(min-width:480px){	
	.inner-page-detail{
		.owl-nav-block{
			display:block;
		}
	}
}

@media(min-width:768px){	
	.slider-block{
		.slider-title{
			font-size:5rem;
		}

		.slider-desc{
			font-size:2rem;
		}
		.sl-item{
			display:table;
			.slider-table{
				display:table;				
				.slider-table-cell{
					display:table-cell;
				}
			}
		}
	}

	.slider-btns{		
		&>ul{
			&>li{
				margin-top:21px;
				margin-bottom:0;
			}
			&>li:first-child{				
				margin-right:30px;
			}
		}		
	}

	.owl-controls{
		margin-top:-80px;
	}

	.projects-slider{
		position:relative;
		.owl-nav-block{
			position:relative;
			margin-top:-35px;
		}
		.owl-controls {
		    margin-top: 40px;
		}
	}

	#projects-1{
		.projects-slider{
			.owl-nav-block{
				margin-top:-70px;
			}
		}	
	}
}

@media( min-width: 1200px){
	.mega-slider{
		width:100%;	
		height:1080px;
	}

	.owl-nav-block{
		display:block;
	}
	
	.slider-block{		
		.slider-title{
			font-size:6rem;
			margin-bottom:25px;
		}
	}

	.slider-desc{
		font-size:2.2rem;
	}

	.owl-nav-block{
		.container-fluid{
			padding: 0 5px;
		}
	}
}


@media(min-height:601px) and (min-width:768px) and (orientation: portrait){
	.mega-slider-vh{
		height:100vh;
	}
}

@media(min-height:601px) and (min-width:768px) and (orientation: landscape){
	.mega-slider-vh{
		height:100vw;
	}
}

@media(min-height:601px) and (min-width:1200px){
	.mega-slider-vh{
		height:100vh;
	}
}

@media(min-width:1540px){

	.owl-nav-block{
		.container-fluid{
			padding: 0 133px;
		}
	}
}


.not-carousel{

	.slider-form-title{
		font-size:36px;
		font-weight:700;
	}

	.slider-title{
		font-size:2.8rem;
	}

	.form-block{
		width:100%;
		max-width:370px;		
		text-align:left;
		box-sizing: border-box;
		margin-left:auto;
		margin-right:auto;
		.btn{
			width:100%;
			box-sizing: border-box;
			text-align:center;
			margin-top:10px;
		}
		.form-input{
			width:100%;
			box-sizing: border-box;
			margin-bottom:30px;
		}

		.slider-desc{
			margin-top:0;
		}
	}
}

@media(min-width:768px){
	.not-carousel{	
		.slider-title{
			font-size:4.8rem;
		}

		.form-block, .slider-content{
			min-height:360px;
		}
		.form-block{
			.slider-desc{
				margin-bottom:30px;
			}
		}		
	}

}

@media(max-width:767px){
	.slider-block{
		.sl-item{
			padding: 200px 0 120px 0;		
		}		
	}

	.slider-rs{		
		.slider-block{
			.sl-item{
				padding: 150px 0 120px 0;		
			}		
		}
	}

	.sl-item {
		text-align:center;
	}
	
	.slider-btns{
		ul{
			display:block;
			margin:0;
			width:100%;
			li{
				display:block;
				width:100%;
				text-align:center;
				margin-top: 10px;
	    		margin-bottom: 10px;	
				.btn{
					padding-left:0;
					padding-right:0;
					width:245px;
				}			
			}
		}
	}
	
	.not-carousel{
		.pull-right{
			float:none!important;
		}
	}

	.owl-controls {
	    margin-top: -80px;
	}
}

@media(max-height:800px) and (min-width:992px){
	.slider-block{
		.sl-item{
			padding: 0;	
			.slider-table-cell{
				padding-top: 50px;	
			}	
		}		
	}
}


@media(max-height:700px) and (min-width:992px){
	.slider-block{
		.sl-item{
			padding: 0;	
			.slider-table-cell{
				padding-top: 100px;	
			}	
		}
		.slider-title {
		    font-size: 5rem;
		    margin-bottom: 15px;
		    line-height:50px;
		}		
	}

	.slider-rs{
		.slider-block{
			.sl-item{
				.slider-table-cell{
					padding-top: 80px;	
				}	
			}
		}
	}
}

@media(max-height:620px) and (min-width:992px){
	.slider-block{
		.sl-item{
			padding: 0;	
			.slider-table-cell{
				padding-top: 100px;	
			}	
		}
		.slider-title {
		    font-size: 5rem;
		    margin-bottom: 15px;
		}		
	}

	.slider-rs{
		.slider-block{
			.sl-item{
				.slider-table-cell{
					padding-top: 80px;	
				}		
			}
		}
	}
	.owl-controls {
	    margin-top: -40px;
	}
}

@media(max-height:600px) and (min-width:768px){
	.slider-block{
		.sl-item{
			padding: 0;	
			.slider-table-cell{
				padding-top: 180px;
				padding-bottom: 80px;		
			}	
		}		
	}
	.slider-rs{
		.slider-block{
			.sl-item{
				.slider-table-cell{
					padding-top: 150px;
					padding-bottom: 40px;		
				}		
			}
		}
	}
	.owl-controls {
	    margin-top: -40px;
	}
}

@media(max-width:1024px){
	.img-box, .text-box, .products .product-item .text-box{
		margin-right:auto;
		margin-left:auto;
	}
}

/*
##################### NEWS TPL2 SLIDER ##############################
*/

.news-slider-block, .secrvices-slider-block, .slider-min-nav{
	position:relative;
	.owl-nav-block{
		position:relative;
		width:100px;
		margin:50px auto 0;
		display:block;
		top:auto;
		left:auto;
		right:auto;		
	}

	.owl-nav {	    
	    height: auto;
	    width: auto;
	}
}


.inner-slider-block{
	position:relative;
	.owl-nav-block{		
		margin-top: -80px;
    	z-index: 99;
    	display:none;
    	.container-fluid{
			padding: 0 40px;
		}
    }
	.owl-carousel{
		position:relative;
	}		 
	.owl-nav{		
	    height: 50px;
	    width: 50px;
	    border-radius:0;
	    z-index:9;	    
	    .lsm-stack{
	      span{      	
	      	height:50px;
	      }
	    }
	   .lsm-stack-1x {
		    line-height: 50px;
		    margin-top: -1px;
		    z-index: 2;
		    font-weight:300;
		}
  	}	

	.owl-nav-hidden{		
	    top: 35%;
	    position: absolute;
	    display:none;
	    margin-top:-25px;
	    &.owl-prev{
	    	left:15px;
	    }
	    &.owl-next{
	    	right:15px;
	    }
	}

  	.item-image{
  		background-repeat:no-repeat;
  		.zooming-link{
  			width:100%;
  			height:100%;  			
  		}
  	}
  	&:hover{
  		.owl-nav-block, .owl-nav-hidden{
  			display:block;
  		}
  	}
}

#inner-page-slider{	 
    .owl-dots{
    	position: relative;
    	margin-top: 27px;
    	display:none!important;
    }		

	.owl-thumbs{
		display:table;
		margin:40px auto;
		position:relative;
		.owl-thumb-item{
			border:3px solid;
			border-color: transparent;
			width:66px;
			height:66px;
			padding:0;
			margin:0 10px;
			display:inline-block;			
			background:#fff;				
			.serv-owl-thumbs{
				width:60px;
				height:60px;								
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				box-shadow: 0 20px 32px 0 transparentize(#000, .8);				
			}
			&.active{
				.serv-owl-thumbs{
					box-shadow: none;
				}
			}
		}
	}
}

#services-inner-carusel-1, #cat-featured-inner-carusel-1, #cat-index-carusel-1 {
	.owl-controls{
    	position: relative;
    	margin-top: 36px;
    }	
}


@media (max-width: 600px) {
	#inner-page-slider{
		.owl-thumbs{			
			.owl-thumb-item{
				margin:0 6px 12px;
				width:60px;
				height:60px;
				.serv-owl-thumbs{
					width:54px;
					height:54px;
				}
			}
		}
	}
}

@media (min-width: 10px) {
	.catalog-slider-container{
		.inner-slider-block{
			width:100%;
			#inner-page-slider{
				.serv-owl-thumbs{
					background-size: 80%;
				}
				.item{
					height:300px;
					width:100%;
					.item-image{
						height:300px;
						width:100%;
						position:relative;
						background-position:center center;
						background-size:80%;
					}
				}
			}
			.detail-page-image{
				height:300px;
				width:100%;
				.item-image{
					position:relative;
					background-position:center center;
					background-size:80%;				
					height:300px;
				}
			}
		}
	}

	#cat-featured-inner-carusel-1, #cat-index-carusel-1 {
		.item{
			max-width:360px;
			margin-left:auto;
			margin-right:auto;
			position:relative;			
			.item-image{
				height:260px;
				width:100%;
				position:relative;
				background-repeat:no-repeat;
				background-position:center center;
				background-size:80%;
				margin-left:auto;
				margin-right:auto;
			}
			.prop-detail-link-btn-box{
				height:260px;
				width:100%;
				z-index:2;
				@include dur(200);
				filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
				-moz-opacity: 0;
				-webkit-opacity: 0;
				-o-opacity: 0;
				-khtml-opacity: 0;
				opacity:0;
				margin-left:auto;
				margin-right:auto;				
			}
			.img-box{
				z-index:11;
				&:hover{
					.prop-detail-link-btn-box{
						filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
						-moz-opacity: 1;
						-webkit-opacity: 1;
						-o-opacity: 1;
						-khtml-opacity: 1;
						opacity:1;
					}
				}
			}
			&>div{
				width:100%;
				overflow:hidden;
				margin-left:auto;
				margin-right:auto;
			}
		}

		.prop-name{
			margin:25px 0;
			h3{
				font-size:1.8rem;
				margin:0;
			}
		}

		.price{
			text-align:left;
			font-size:1.8rem;
		}

	}

	#cat-index-carusel-1 {
		margin:0 auto;
		.price{
			text-align:center;
		}
		.owl-controls{
			margin-top: 20px!important;
		}
	}

	.catalog-inner-section{
		.prop-detail-link-btn-box{			
			height:260px;
			width:100%!important;
			z-index:99!important;
			@include dur(200);
			filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
			-moz-opacity: 0;
			-webkit-opacity: 0;
			-o-opacity: 0;
			-khtml-opacity: 0;
			opacity:0;
			padding:0 15px;				
		}
		.img-box{
			z-index:auto;
			&:hover{
				.prop-detail-link-btn-box{
					filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
					-moz-opacity: 1;
					-webkit-opacity: 1;
					-o-opacity: 1;
					-khtml-opacity: 1;
					opacity:1;
				}
			}
		}
	}

	#services-carusel-1, #owl-news-tpl2, #inner-page-slider{
		.owl-controls{
			display:none!important;
		}
	}
}

@media (min-width: 480px) {
	.catalog-slider-container{
		.inner-slider-block{
			width:360px;
			margin-left:auto;
			margin-right:auto;
			#inner-page-slider{
				.item{
					height:360px;
					.item-image{
						height:360px;
					}
				}
			}
			.detail-page-image{
				height:360px;
				.item-image{
					height:360px;
				}
			}
		}
	}
}

@media (min-width: 600px) {
	#cat-featured-inner-carusel-1 {
		.item{
			position:relative;
			.item-image{				
				width:100%;				
			}
			.prop-detail-link-btn-box{				
				width:100%;
			}
			&>div{				
				width:100%;
			}
		}
	}
}

@media (min-width: 768px) {
	.catalog-slider-container{
		.inner-slider-block{
			margin-left:0;
			margin-right:auto;
			#inner-page-slider{
				.item{
					height:360px;					
				}
			}
		}
	}

	#cat-featured-inner-carusel-1, #cat-index-carusel-1 {
		.item{					
			.item-image{
				height:260px;
				width:260px;				
			}
			.prop-detail-link-btn-box{
				height:260px;
				width:260px;								
			}			
			&>div{
				width:260px;				
			}
		}
	}
}

@media (max-width: 1199px) {
	.owl-nav-hidden{
		display:block!important;
	}
}

@media (max-width: 767px) {
	.owl-nav-block{
		display:none!important;
	}

	
	
	.services, .news, .projects{
		.owl-nav-block{
			display:block!important;
		}		
	}

	#projects-1{
		.owl-nav-block{
			display:none!important;
		}
		.owl-controls{
			position:relative;
			margin-top:10px;
		}
	}

	#cat-index-carusel-1 {
		.img-box, .text-box{
			margin-left:auto;
			margin-right:auto;
		}
	}

	.inner-slider-block{
		.detail-page-image{
			margin-bottom:25px;
		}
	}
}